<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCBMhY4BCAOXpfmcU18qD6A21BxyYIrmGc</string>
	<key>GCM_SENDER_ID</key>
	<string>197731174542</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mapFlutter</string>
	<key>PROJECT_ID</key>
	<string>estacionat-44bcb</string>
	<key>STORAGE_BUCKET</key>
	<string>estacionat-44bcb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:197731174542:ios:27f4ce55a1a42e514da1df</string>
	<key>DATABASE_URL</key>
	<string>https://estacionat-44bcb-default-rtdb.firebaseio.com</string>
</dict>
</plist>